# Core scientific stack
numpy
pandas
matplotlib
scikit-learn

# Testing / linting / formatting
black
kagglehub[pandas-datasets]

statsmodels
seaborn
pygam
lime
shap
ucimlrepo
xgboost
PyALE

torch
torchvision

grad-cam
datasets        # for Hugging Face datasets like garbage-classification
opencv-python   # for image preprocessing
tqdm            # for progress bars
tensorflow_datasets
tensorflow